<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.business.admin.mapper.BizSocialMomentMapper">

  <resultMap id="bizSocialMomentMap" type="com.pig4cloud.pig.business.api.entity.BizSocialMomentEntity">
        <id property="momentId" column="moment_id"/>
        <result property="userId" column="user_id"/>
        <result property="echoId" column="echo_id"/>
        <result property="content" column="content"/>
        <result property="mediaUrls" column="media_urls"/>
        <result property="type" column="type"/>
        <result property="visibility" column="visibility"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <result property="burnAfterReading" column="burn_after_reading"/>
        <result property="expiresTime" column="expires_time"/>
        <result property="location" column="location"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>
