server:
  port: 5008

spring:
  application:
    name: pig-business-biz
  cloud:
    nacos:
      username: @nacos.username@
      password: @nacos.password@
      discovery:
        server-addr: ${NACOS_HOST:127.0.0.1}:${NACOS_PORT:8848}
      config:
        server-addr: ${spring.cloud.nacos.discovery.server-addr}
  config:
    import:
      - nacos:application-@profiles.active@.yml
      - nacos:${spring.application.name}-@profiles.active@.yml
  datasource:
    # MySQL 8.x 驱动类
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 数据库连接 URL（替换为你的数据库地址/库名，Pig 框架默认库名 pig）
    url: jdbc:mysql://localhost:3306/pig_business?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    # 数据库账号密码（替换为你的实际账号）
    username: root
    password: root
    # 连接池配置（Pig 框架默认用 HikariCP，无需额外依赖）
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 30000
      pool-name: BusinessHikariCP
      max-lifetime: 60000
      connection-timeout: 30000
  data:
    redis:
      host: 127.0.0.2
      port: 6379
      password: 123456
  ai:
    vectorstore:
      redis:
        index: frequency_idx
        prefix: "freq:emb:"

mybatis-plus:
  mapper-locations: classpath:/mybatis/mapper/**/*.xml
  global-config:
    db-config:
      table-prefix: biz_  # 业务表前缀

# 日志配置
logging:
  level:
    com.pig4cloud.pig.business.mapper: info

file:
  local:
    enable: false
    base-path: D:\Study\dev_project\upload
  # 业务桶名称（SysFileService 使用）
  bucket-name: pig-frequency
  # OSS 配置 (注意缩进！属于 file 的子节点)
  oss:
    enable: true
    # 填写您的 OSS 或 Minio 地址 (直接写值，不要加 ${} 除非是引用环境变量)
    endpoint: https://oss-cn-beijing.aliyuncs.com
    # 阿里云/Minio 账号密码
    access-key: ${ALIYUN_ACCESS_KEY}
    secret-key: ${ALIYUN_SECRET_KEY}
    region: cn-beijing
    path-style-access: false

# 自定义业务配置
frequency:
  ai:
    # 你的 Python 服务地址
    url: http://localhost:8000

security:
  oauth2:
    ignore:
      urls:
        - /swagger
        - /swagger/**
        - /v3/api-docs/**
        - /swagger-ui.html
        - /swagger-ui/**